* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: 2.5rem auto;
  height: 90vh;
}

.box {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.description {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.07px;
  letter-spacing: 0%;
  color: #222222;
}

.back-btn {
  display: flex;
}

.back-btn p {
  margin-top: 3px;
}
